:host {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #f1f1f1;
}

.bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 31%;
  width: 102%;
  background-color: white;
  transform: rotate(0.49turn);
  margin-bottom: -45px;;
}

.bottom-box.back {
  transition: background-color 1s;
  z-index: 0;
  opacity: 0.9;
  bottom: 55px;
  transform: rotate(0.02turn);
  margin-left: -20px;
}

.group-message {
  position: absolute;
  top: 15%;
  left: 7%;
  width: 36%;
  font-size: 30px;
  font-weight: bold;
  transform: rotate(0.98turn);
  color: white;
}

.group-message.mmj {
  top: 11%;
  left: 4%;
  width: 41%;
}

.group-message.wxs {
  top: 9%;
  left: 4%;
  width: 39%
}

.group-message.virtual {
  top: 14%;
  left: 6%;
  width: 40%;
}

.group-logo {
  position: fixed;
  z-index: 2;
  bottom: -0.2%;
  right: 6%;
  height: 23%;
  width: 27%;
}

.group-logo img {
  height: 100%;
  width: 100%;
}

.btn-container {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container.right {
  right: 0;
}

.btn-container.left {
  left: 0;
}

.btn-container img {
  cursor: pointer;
  height: 20%;
  width: 100%;
}

.btn-container.right img {
  animation: arrowMoveRight 1s infinite;
}

.btn-container.left img {
  animation: arrowMoveLeft 1s infinite;
}

.loading-bar-container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 140px;
  width: 55%;
}

.loading-bar {
  width: 55%;
  height: 20px;
  background-color: #292D3E;
  border: 3px solid white;
  border-radius: 25px;
  margin-bottom: 10px;;
}

.loading-bar-progress {
  width: 0%;
  height: 8px;
  margin-left: 4px;
  margin-top: 3px;
  background-color: #01CCBF;
  border-radius: 25px;
}

.group-members {
  background: url('../../assets/img/background/LeoNeedGroup.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
