
<div *ngIf="!showLoadingScreen" id="carouselGroup" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/background/VirtualSingerGroup.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/img/background/LeoNeedGroup.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/img/background/MoreMoreJumpGroup.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/img/background/VividSquadGroup.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/img/background/WxSGroup.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/img/background/N25Group.png" class="d-block w-100">
    </div>
  </div>
  <div class="group-logo">
    <img [src]="group.logoUrl">
  </div>
  <div class="btn-container left">
    <img (click)="onPrev()" src="assets/img/component/Arrow.png" alt="">
  </div>
  <div class="btn-container right">
    <img (click)="onNext()" src="assets/img/component/Arrow.png" alt="">
  </div>
  <div class="loading-bar-container">
    <h3>Now Loading...</h3>
    <div class="loading-bar">
      <div id="loadingbarprog" class="loading-bar-progress" [style]="{'width:': (progress + '%')}"></div>
    </div>
    <p>*Please check your signal strength before download. Weak signal strength may result in longer download times.</p>
  </div>
  <div class="bottom-box"></div>
  <div class="bottom-box back" [style]="{'background-color': group.color}">
    <p id="groupMessageId" class="group-message virtual" [style]="{'color': group.textColor}">{{group.groupMessage}}</p>
  </div>
</div>
<app-loading-screen *ngIf="showLoadingScreen"></app-loading-screen>
