<div id="portCafeLogo" *ngIf="portCafe" class="center-content max-height fade-in">
  <img src="assets/logo/port_cafe.png" class="port-cafe-logo" alt="">
</div>
<div id="projectAkariLogo" *ngIf="projectAkari" class="center-content max-height fade-in">
  <img src="assets/logo/project_akari.png" class="project-akari-logo" alt="">
</div>
<div (click)="showModal()" *ngIf="loginPage" class="option-btn">
  <div class="option-btn-line"></div>
  <div class="option-btn-line"></div>
  <div class="option-btn-line"></div>
</div>
<div id="loginPage" *ngIf="loginPage" (click)="onLogin()" class="max-height fade-in">
  <div class="tap-to-login-container">CLICK TO START</div>
  <img src="assets/logo/project_akari.png" class="project-akari-img" alt="">
  <audio [autoplay]="true" loop>
    <source src="assets/sound/bgm/LoginBGM.mp3" type="audio/mpeg" />
    This content is displayed by browsers that don't recognize the audio element
  </audio>
  <video class="login-video" [muted]="true" autoplay playsinline loop>
    <source src="assets/videos/login_video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<app-modal
  [hidden]="!isModalShown"
  [menuTitle]="'Settings'"
  (onClose)="onModalClose()">
  <div class="center-content">
    <div class="form-check form-switch" style="color: black; margin-top: 20px;">
      <input [(ngModel)]="isIntroSkipped" (click)="toggleSkipIntro()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
      <label class="form-check-label" for="flexSwitchCheckChecked">Skip Introduction</label>
    </div>
  </div>
</app-modal>
