<div class="menu-modal">
  <div id="modalContainerId" class="menu-modal-container portrait">
    <div class="menu-modal-header">
      <div class="menu-modal-header-box"></div>
      {{title}}
      <div class="menu-modal-header-box right"></div>
    </div>
    <div class="menu-modal-body">
      <div [hidden]="hidePrevBtn" class="menu-model-arrow left" (click)="modalOnPrev()"></div>
      <ng-content *ngIf="!hasModalContents"></ng-content>
      <div id="modalContentElem" *ngIf="hasModalContents" class="app-modal-contents">

      </div>
      <div [hidden]="hideNextBtn" class="menu-model-arrow right" (click)="modalOnNext()"></div>
    </div>
    <div class="menu-model-btn" (click)="modalOnClose()">Close</div>
  </div>
</div>
