div {
  box-sizing: unset !important;
}

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: rgba(0, 0, 0, 0.48);
}

.menu-modal-container {
  position: relative;
  background-color: white;
  width: 50%;
  height: 60%;
  border-radius: 20px;
}

.menu-modal-container.portrait {
  width: 40%;
  height: 80%;
  margin-top: -5%;
}

.menu-modal-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: #00ccbb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-modal-header-box {
  position: absolute;
  top: 35%;
  left: 3%;
  height: 20px;
  width: 20px;
  background-color: #00ffdd;
  transform: rotate(44deg);
}

.menu-modal-header-box.right {
  right: 3%;
  left: unset;
}

.menu-modal-header-box::after {
  position: absolute;
  top: -15px;
  left: -4px;
  font-size: 30px;
  font-weight: bold;
  color: #00ccbb;
  margin-left: 10px;
  content: '.';
}

.menu-modal-body {
  position: relative;
  padding-top: 55px;
  width: 100%;
  height: 100%;
}

.menu-model-arrow {
  cursor: pointer;
  animation: moveLeft 1s infinite;
  position: absolute;
  z-index: 5;
  background-image: url("../../assets/img/component/Arrow.png");
  background-size: 70px 70px;
  height: 70px;
  width: 70px;
}

.menu-model-arrow.left {
  animation: arrowMoveLeft 1s infinite;
  top: 43%;
  left: 5px;
}

.menu-model-arrow.right {
  animation: arrowMoveRight 1s infinite;
  top: 43%;
  right: 5px;
}

.menu-model-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu-model-btn {
  position: absolute;
  bottom: 10px;
  left: 41%;
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 10px;
  color: black;
  border: 1px solid #676688;
  border-bottom: 2px solid #676688;
  background-color: white;
}
