<div *ngIf="isAssetsLoaded" class="characters-body" style="background-image: url('{{selectedGroup.bgImgUrl}}'), linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5))">
  <div class="overlay"></div>
  <div class="header">
    <div class="header-title">
      Characters
    </div>
  </div>
  <div class="group-logo">
    <div class="row align-items-center">
      <div class="col animate__animated animate__fadeInRight" *ngFor="let group of groups">
        <img (click)="logoOnClick(group)" [ngClass]="group.getClass(selectedGroup.key)" [src]="group.imgUrl" alt="{{group.name}} Logo">
      </div>
    </div>
  </div>
  <div class="group-body">
    <ul>
      <li class="animate__animated animate__zoomIn"
        *ngFor="let member of selectedGroup.members"
        [routerLink]="['/greetings']" [queryParams]="{greetedby: member.greetingId}">
        <img class="group-character" [src]="member.imgUrl" [alt]="member.portName">
      </li>
    </ul>
  </div>
</div>

<app-assets-loader *ngIf="!isAssetsLoaded" [loadCharacters]="true" (onCompleted)="onAssetsLoaded()"></app-assets-loader>
