<div class="characters-body virtual-singer">
  <div class="overlay"></div>
  <div class="header">
    <div class="header-title">
      Characters
    </div>
  </div>
  <div class="group-logo">
    <div class="row align-items-center">
      <div class="col">
        <img class="group-logo-img active" src="assets/img/group-logo/VirtualSinger.png" alt="Virtual Singer Logo">
      </div>
      <div class="col">
        <img class="group-logo-img" src="assets/img/group-logo/LeoNeed.png" alt="Virtual Singer Logo">
      </div>
      <div class="col">
        <img class="group-logo-img" src="assets/img/group-logo/MoreMoreJump.png" alt="Virtual Singer Logo">
      </div>
      <div class="col">
        <img class="group-logo-img" src="assets/img/group-logo/VividSquad.png" alt="Virtual Singer Logo">
      </div>
      <div class="col">
        <img class="group-logo-img" src="assets/img/group-logo/WxS.png" alt="Virtual Singer Logo">
      </div>
      <div class="col">
        <img class="group-logo-img" src="assets/img/group-logo/N25.png" alt="Virtual Singer Logo">
      </div>
    </div>
  </div>
  <div class="group-body">
    <ul id="virtualSinger" [hidden]="false">
      <li>
        <img class="group-character" src="assets/img/characters/Jikan.png" alt="Jikan">
      </li>
    </ul>
    <ul id="leoNeed" [hidden]="true">
      <li>
        <img class="group-character" src="assets/img/characters/EmmaKun.png" alt="Emma-Kun">
      </li>
    </ul>
    <ul id="moreMoreJump" [hidden]="true">
      <li>
        <img class="group-character" src="assets/img/characters/Juicy.png" alt="Sham">
      </li>
    </ul>
    <ul id="vividSquad" [hidden]="true">
      <li>
        <img class="group-character" src="assets/img/characters/Doru.png" alt="Sham">
      </li>
      <li>
        <img class="group-character" src="assets/img/characters/Sham.png" alt="Sham">
      </li>
      <li>
        <img class="group-character" src="assets/img/characters/Sky.png" alt="Sham">
      </li>
    </ul>
    <ul id="n25" [hidden]="true">
      <li>
        <img class="group-character" src="assets/img/characters/Asra.png" alt="Sham">
      </li>
    </ul>
  </div>
</div>
