<div class="dialog-container fade-in">
  <div class="dialog-title">
    <div class="dialog-title-box"></div>
    <div class="dialog-title-content">
      {{dialog.characterName}}
    </div>
  </div>
  <div (click)="dialogOnClick()" class="dialog-body">
    <div class="dialog-body-content">
      {{dialog.currentDialog}}
    </div>
  </div>
</div>
<app-modal *ngIf="isShowModal" [modalContents]="dialog.getModalContents()">
  <!-- <div class="app-modal-contents"> -->
    <!-- <img src="assets/img/greetings/juicy/art.png" alt=""> -->
    <!-- <img src="assets/img/greetings/juicy/greeting.png" alt="" > -->
    <!-- <iframe src="https://drive.google.com/file/d/15mwpgUyylwdwtIpixTsooU7bKiKvXJ6x/preview" allow="autoplay"></iframe> -->
  <!-- </div> -->
</app-modal>
